*{
    margin:0;
    padding: 0;
    background-color: black;
}
h1{
    background-color: rgb(200, 247, 255);
    color: rgb(0, 14, 26);
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
}
.choice{
    height: 165px;
    width: 165px;
}
img{
    height: 150px;
    width: 150px;
   object-fit:cover;
   border-radius: 15%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 2rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
    gap: 5rem;
    color:aliceblue;
}
.score{
    display: flex;
    flex-direction: column;  
    align-items: center;    
}
#user-score,#computer-score{
    font-size: 5rem;
}
#you,#com{
    font-size: 1.5rem;
}
.msg-container{
     height: 8rem;         
    display: flex;
    justify-content: center; 
    align-items: center;  

}
#msg{
    background-color: rgb(200, 247, 255);
    color: black;
   font-size: 1.5rem;
   padding: 1rem 2rem;
    display: inline;
    align-items: center;
    border-radius: 1rem;
}